ipython>=8.26.0
# jupyter is a big install - should make optional
jupyterlab>=4.2.5
numpy>=2.2.6

# airborne_survey_flight_path.ipynb
# tkinter>=8.6 - this is part of python
shapely>=2.1.2
folium>=0.20.0

# SendToForeFlight.ipynb
pandas>=2.2.2
qrcode>=8.2

pyproj>=3.7.2
tkinterweb>=4.25.3

